Clustername 1	Clustername 2	Raw distance	Squared similarity	Jaccard index	DSS index	Adjacency index	raw DSS non-anchor	raw DSS anchor	Non-anchor domains	Anchor domains	Combined group	Shared group
Halobacillus_andaensis_GCF_014636475.prokka-NZ_BMEL01000001.region003	Halobacillus_andaensis_GCF_017874135.prokka-c00001_NZ_JAGG...region003	4.163336342344337e-17	1.0	1.0	1.0	1.0	0.0	0.0	24	1	terpene - terpene	terpene
